@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(img/download\ \(9\).jpg);
}

/* ::selection{
    color: #fff;
    background: #43AFFC;
  } */
/* 
.wrapper {
    width: 400px;
    border-radius: 5px;
    background: white;
}

.wrapper header {
    color: #19C3FB;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

header i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}

.wrapper .input-part {
    margin: 20px 25px 30px;
}

.input-part input :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none; */
    /* font-size: 18px; */
    /* border-radius: 7px; */
/* } */ 

/* .textarea {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
} */

/* .btn {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px; 
} */
/* .input-part input :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
} */

/* .input-part input {
    border: 1px solid gainsboro;
    text-align: center;
}

.input-part .info-txt{
    display: none;
    font-size: 17px;
    background: red;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
  }

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before{
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
  }

.input-part button {
    color: white;
    cursor: pointer;
    background: #19C3FB;
    outline: none;
} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(img/download\ \(9\).jpg);
}

.wrapper {
    width: 400px;
    border-radius: 7px;
    background: white;
}

.wrapper header {
    color: #19C3FB;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

header i {
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}

.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .input-part {
    /* display: none; */
    margin: 20px 25px 30px; 
}

.wrapper.active .input-part {
    display: none;
}

.input-part .info-text{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.input-part .info-text.error{
    color: #721c24;
    display: block;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.input-part .info-text.pending{
    color: #0c5460;
    display: block;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px; 
    border-radius: 7px; 
}

.input-part input {
    text-align: center;
    border: 1px solid gainsboro;
}

.input-part input:is(:focus, :valid) {
    border: 2px solid #19C3FB;
}

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before{
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

.input-part button {
    color: white;
    cursor: pointer;
    background: #19C3FB;
    outline: none;
} 

 .wrapper .weather-part {
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part {
    display: flex;
}

.weather-part img{
    max-width: 125px;
}

.weather-part .temp{
    display: flex;
    font-weight: 500;
    font-size: 72px;
}

.weather-part .temp .numb{
    font-weight: 600;
} 
  
.weather-part .temp .deg{
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
}

.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
} 
   
.weather-part .location{
    display: flex;
    font-size: 19px;
    /* padding: 0 20px; */
    align-items: center;
    margin-bottom: 30px;
    /* align-items: flex-start; */
}
  
.location i{
    font-size: 22px;
    margin-right: 5px ;
}

/* .weather-part .bottom-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
} */

.weather-part .bottom-details {
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 1px solid gainsboro;
    justify-content: space-around;
}

.bottom-details .column {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i{
    color: #5DBBFF;
    font-size: 40px;
}

.column.humidity{
    border-left: 1px solid #ccc;
}

.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.column .details p{
    font-size: 14px;
    margin-top: -6px;
}
  
.humidity i{
    font-size: 37px;
}
